.git
.github
.claude
.kilo
.cursor
.cline
node_modules
**/dist
**/*.tsbuildinfo
coverage
**/*.db
**/*.db-wal
**/*.db-shm
**/*.db-journal
.env
.dev.vars
.wrangler
tests
*.md
!README.md
!LICENSE.md
.DS_Store
